tmp/*
*.py[cod]
*.zip
__pycache__
*/__pycache__/*
encounter_env/*
encounter_env36/*
*.pyc
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.vscode
