<!doctype html>
<section class="content">
        <h4>Encounter</h4>
            <b>Monster Set:</b>
            <p>{{encounter.monster_set}}</p>
            <b>Monsters:</b>
            {% for monster in encounter.monsters %}
            <li>{{monster.name}}: {{monster.number}}</li>
            {% endfor %}
            XP Reward: {{encounter.xp_value}}<br>
            Difficulty: {{encounter.difficulty}}<br>
          </li>
<br>
</section>
<nav>
    Encounter Specifications
    <form method="POST">
        XP Budget: <input name="xp_budget" value={{values.xp_budget}}><br>

        Encounter Style: <select name="style">
            <option value="{{values.style}}" SELECTED>{{values.style}}</option>
            {% for style in styles %}
            <option value="{{style}}">{{style}}</option>
            {% endfor %}
        </select><br>

        Monster List: <select name="monster_set">
        <option value="{{values.monster_set}}" SELECTED>{{values.monster_set}}</option>>
        <option value="all">all</option>
        {% for set in all_sets %}
        <option value="{{set}}">{{set}}</option>>
        {% endfor %}
        </select><br>
        <input type="submit">
    </form>
</nav>